doctype html
head
  title hello jade
  link(href="/css/app.css")
body
  h1 login
  p Username:
  input#username(type="text")
  p Password:
  input#password(type="password")
  br
  input(type="button" onclick="login()")
